/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* global */

body {
  font-family: "Roboto", sans-serif;

  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

:root {
  --black: #111111;
  --violet: #1e1823;
  --orange: #fd9222;
  --cream: #fcf1e0;
  --white: #fafafa;
}
/* for hidden elements */
.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header stils */
.header-container {
  width: 375px;
  margin: 0 auto;
  padding: 20px 20px 14px 20px;
}
nav {
  display: flex;
}
.header-icons {
  stroke: var(--black);
  fill: transparent;
  background-color: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:focus .header-icons,
a:hover .header-icons {
  stroke: var(--orange);
}
