/* header */
/* .header-container {
  width: 375px;
  margin: 0 auto;
  padding: 20px 20px 14px 20px;
} */
nav {
  display: flex;
}
.header-icons {
  stroke: var(--black);
  fill: transparent;
  background-color: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:focus .header-icons,
a:hover .header-icons {
  stroke: var(--orange);
}

@media screen and (min-width: 768px) {
  /* .hero {
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-bg-tabl-1x.jpg);
    max-width: 768px;
    min-height: 436px;
  }
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-tabl-2x.jpg);
    }
  } */
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  /* .hero {
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-bg-ps-1x.jpg);
    max-width: 1440px;
    min-height: 600px;
  }
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-ps-2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  } */
}
