/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* global */
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  padding: 0;
  border: none;
}
:root {
  --black: #111111;
  --violet: #1e1823;
  --orange: #fd9222;
  --cream: #fcf1e0;
  --white: #fafafa;
}
/* common */
.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* for hidden elements styles*/
/* ! .hidden only for dev, after - remove from css and html */
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.header-container {
  max-width: 375px;
  padding: 20px 20px 14px 20px;
  margin: 0 auto;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--black);
}
.logo-part {
  font-style: italic;
}
.header-logo img {
  margin-left: 4px;
  width: 16px;
  height: 16px;
}
.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.burger-icon {
  display: block;
  color: var(--black);
}
.nav-list,
.soc-media-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-container {
    max-width: 768px;
    padding: 28px 32px;
    display: flex;
    align-items: center;
  }
  .header-logo img {
    width: 21px;
    height: 21px;
  }
  .nav-list {
    display: flex;
    gap: 24px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--black);
  }
  .soc-media-list {
    display: flex;
    gap: 18px;
    margin-right: 0;
    margin-left: 48px;
  }
  .soc-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .soc-media-icon {
    fill: transparent;
    stroke: var(--black);
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 1200px;
  }
  .header-logo {
    font-size: 18px;
    line-height: 1.11;
  }
  .header-logo img {
    width: 24px;
    height: 24px;
  }
  .nav-link {
    transition: color 200ms;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--orange);
  }
  .soc-media-icon {
    transition:
      stroke 200ms,
      scale 200ms;
  }
  .soc-media-icon:hover {
    stroke: var(--orange);
    scale: 1.1;
  }
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--violet);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0%);
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
.mobile-menu-close {
  align-self: flex-end;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.mobile-menu-close-icon {
  stroke: var(--white);
}
.mobile-nav {
  margin-top: 88px;
  margin-bottom: auto;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-nav-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: var(--white);
}
/* ? .activ unused yet */
.activ {
  color: var(--orange);
}
.mob-soc-media-list {
  display: flex;
  gap: 18px;
}
.mob-soc-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-soc-media-icon {
  fill: transparent;
  stroke: var(--white);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* hero */
.hero {
  border-radius: 30px;
  background-color: hotpink;
}
.hero-title {
  padding: 395px 20px 32px;
  /*  */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white);
}
.hero-btns-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 32px;
  padding: 0 20px 20px;
}
.hero-btn-buy {
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 120px;
  background: var(--orange);
  /*  */
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
}
.hero-link-nav {
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 120px;
  /*  */
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
}
.hero-link-scroll {
  width: 107px;
  height: 28px;
  /*  */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: var(--white);
  /*  */
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero-link-scroll-icon {
  display: flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--white);
  /*  */
  justify-content: center;
  align-items: center;
}
.hero-scroll-icon {
  fill: var(--orange);
}
